/* --------------------
       Conócenos
-----------------------*/


.conocenos{
   margin:50px 10px;

   h1{
   font-family:'TenorSans',sans-serif;
   font-size: 30px;
   color:#212121;
   font-weight: bold;
   text-align: center;
   padding:50px 0px;
   }
   
   @media (max-width: $sizePhone){
     h1{
     font-size: 25px;
     }
   }
  
   @media (min-width:$sizeMoreThanPhone) and (max-width:$sizeLessThanTablet){
     
     h1{
     font-size: 28px;
     }
   }

  
  @media (min-width:$sizeTablet ) and (max-width:$sizeLargeDesktop){
     
     h1{
     font-size: 28px;
     }
    }

  
   .thumbnails{
   text-align: center;  
   margin-top:30px;

   .caption{
       
   h2{
   font-family:'TenorSans',sans-serif;
   font-size: 25px;
   color:#212121;
   font-weight: bold;
   text-align: center;
   }

   h3{
   font-family:'OpenSans',sans-serif;
   font-size: 18px;
   color:#a3a3a3;
   font-weight: lighter;
   text-align: center;
   padding-bottom: 10px;
   margin: 0px 10px;
   border-bottom: 1px solid #bdbdbd;
   }

   p{
   font-family:'OpenSans',sans-serif;
   font-size: 16px;
   color:#333;
   text-align: justify;
   padding:15px 15px;
   }
   
     @media (max-width: $sizePhone){
     h3{
     font-size: 17px;
     }
  }
   
    @media (min-width:$sizeMoreThanPhone) and (max-width:$sizeLessThanTablet){
     h3{
     font-size: 19px;
     }
  }
   
   @media (min-width:$sizeTablet ) and (max-width:$sizeLargeDesktop){
     h3{
     font-size: 16px;
     }
    }
   }
 } 
}
