 .galeria h1{
     font-family:'TenorSans',sans-serif;
      font-size: 30px;
      color:#212121;
      font-weight: bold;
      text-align: center;
      padding:60px 0px;
     }
     
.galeria img{
    margin-bottom:30px;
  
}