

@font-face {
font-family: 'Lobster';
src: url('Lobster-Regular.ttf');
}

@font-face {
font-family: 'TenorSans';
src: url('TenorSans-Regular.ttf');
}

@font-face {
font-family: 'OpenSans';
src: url('OpenSans-Regular.ttf');
}



.body{
  background: #fefefe;
}

.naranjaR {
    background: #f04942;
    height: 300px;
    margin-top: 10px;
}

.semiblanco {
    background: #F0F0F0;
}


.fondo1 {
    width: 100%;
    height: auto;
    position: relative;
    border-top: 1px solid #bdbdbd;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
    background: #ffffff;
    margin-top: -340px;
    margin-bottom: 50px;
    padding-bottom: 40px;
}

/* --------------------------
     Buttons
--------------------------*/

.button {
    background-color: #ffffff; 
    border: 2px solid #0cb095;
    color:#000;
    width:100%;
    padding-top: 35px;
    padding-bottom: 35px;
    margin-bottom:15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family:'TenorSans',sans-serif;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    box-shadow: 0 2px 3px 0 rgba(189,189,189,0.20), 0 6px 8px 0 rgba(169,169,169,0.15);
    border-radius: 4px;
    @media (min-width: $sizeLargeDesktop) {
       width:100%;
       padding-top: 30px;
       padding-bottom: 30px;
       margin-bottom:15px;
       text-align: center;
       text-decoration: none;
       display: inline-block;
       font-size: 28px;
       font-family:'TenorSans',sans-serif;
       cursor: pointer;
       -webkit-transition-duration: 0.4s; /* Safari */
       transition-duration: 0.4s;
       box-shadow: 0 2px 3px 0 rgba(189,189,189,0.20), 0 6px 8px 0 rgba(169,169,169,0.15);
       border-radius: 4px;
    }
}

.button:hover {
    background-color: #0cb095; /* Green */
    color: #fafafa;
    text-decoration: none;
}


@media (min-width: $sizeLargeDesktop) {
    label {
      display: block;
      font-size:18px;
      font-family:'Opensans',sans-serif;
      color:#f04942;
      margin-bottom:20px;
      margin-top:25px;
      font-weight: 700;
    }
}


.clear:before,
.clear:after {
    content: ""; /* 1 */
    display: table; /* 2 */
}

.clear:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clear {
    *zoom: 1;
}