/* --------------------
        Logo
-----------------------*/
.corazon {
    width: 100%;
    margin-top: 25px;
    margin-left: 20px;
}

/* --------------------------
   Social Media Md-Lg
--------------------------*/

.social {
    margin-top: -150px;
}

.social ul {
    margin: 0;
    padding: 0px;
}

.social ul li {
    margin: 0px;
    list-style: none outside none;
    display: inline-block;
}

.social i {
    margin-left: -23px;
    width: 33px;
    height: 33px;
    color: #FFF;
    background-color: #C0C0C0;

    /* #E3E3E3;*/
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover {
    background: #4060A5;
}

.social .fa-twitter:hover {
    background: #00ABE3;
}

.social .fa-instagram:hover {
    background: #517fa4;
}

.social .fa-es:before {
    font-family: 'OpenSans',sans-serif;
    content: "Es";

    /* add googleplus icon */
}

.social .fa-es:hover {
    color: #fff;
    background: #f04942;
    border-color: #f04942;
    text-decoration: none;
}

.social .fa-en:before {
    font-family: 'OpenSans',sans-serif;
    content: "En";

    /* add googleplus icon */
}

.social .fa-en:hover {
    color: #fff;
    background: #f04942;
    border-color: #f04942;
    text-decoration: none;
}

/* -------------------------------------
    Medida del Social Media para Mobile
   -------------------------------------*/

.social1 {
    margin-top: -98px;
    margin-right: 60px;
}

.social1 ul {
    margin: 0;
    padding: 0px;
}

.social1 ul li {
    margin: 0px;
    display: inline-block;
}

.social1 i {
    margin-left: -25px;
    width: 27px;
    height: 27px;
    color: #fff;
    background-color: #f04942;
    font-size: 16px;
    text-align: center;
    padding-top: 7px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social1 i:hover {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social1 .fa-es:before {
    font-family: 'OpenSans',sans-serif;
    content: "Es";

    /* add googleplus icon */
}

.social1 .fa-es:hover {
    color: #f04942;
    background: #fde7e6;
    border-color: #fde7e6;
    text-decoration: none;
}

.social1 .fa-en:before {
    font-family: 'OpenSans',sans-serif;
    content: "En";

    /* add googleplus icon */
}

.social1 .fa-es:hover {
    color: #f04942;
    background: #fde7e6;
    border-color: #fde7e6;
    text-decoration: none;
}

.social1 .fa-en:hover {
    color: #f04942;
    background: #fde7e6;
    border-color: #fde7e6;
    text-decoration: none;
}

/* --------------------------
     Menu Principal
------------------------------*/

.navbar-default {
    background-color: #fff;
    border-color: none;
    border-radius: 0px;
    background-image: none;
    background-repeat: no-repeat;

    ul li {
        padding: 0;
        margin: 0;
    }

    @media (max-width: $sizeTablet) {
        .navbar-nav > li > a:hover {
            /*color del menu del movile*/
            background-color: #fde7e6;
            color: #f04942;
            font-weight: bold;
        }

        .navbar-margin-bottom {
            margin-bottom: 60px;

            /*subir el carousel cerca del logo*/
        }
    }
}

.menu1 {
    margin-right: 60px;
    text-decoration: none;
    text-align: center;
    font-family: 'TenorSans',sans-serif;
    font-weight: lighter;
    font-size: 22px;
    color: #757575;

    @media (max-width: $sizeTablet) {
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        font-size: 16px;

        a:hover {
            border: 1px solid #fde7e6;
        }
    }

    @media (min-width: $sizeTablet) {
        margin-right: 0px;
        margin-top: -120px;
        font-size: 16px;
        text-decoration: none;
        text-align: center;

        ul li {
            margin-top: -10px;
            padding-right: 3px;
        }
    }

    @media (min-width: $sizeDesktop) {
        margin-top: -120px;
        margin-right: 60px;
        text-decoration: none;
        text-align: center;
        font-size: 18px;

        ul li {
            margin-top: -10px;
            padding-right: 5px;
        }
    }

    @media (min-width: $sizeLargeDesktop) {
        margin-top: -120px;
        margin-right: 80px;
        text-decoration: none;
        text-align: center;
        font-size: 20px;
    }

    @media (max-width: $sizePhone) {
        margin-top: 8px;
        margin-bottom: 8px;
        width: 100%;
        text-decoration: none;
        text-align: center;
        font-size: 16px;
    }
}

.menu1 ul {
    margin-top: -10px;
    padding-left: 10px;

    @media (min-width: $sizeLargeDesktop) {
        li {
            margin-top: -10px;
            padding-right: 10px;
        }
    }
}

.menu1 a:link {
    color: #757575;
    margin-right: -15px;
}

.menu1 a:visited {
    text-decoration: none;
}

.menu1 a:focus {
    color: #757575;
}

.menu1 a:hover {
    color: #757575;
    border-bottom: 1px solid #bdbdbd;

    @media (max-width: $sizePhone) {
        border: 1px solid #fde7e6;
    }
}

.menu1 a:active {
    color: #757575;
}

.active {
    color: #212121;
    font-weight: bold;
}

.menu2 {
    margin-right: 60px;
    padding-right: 10px;
    text-decoration: none;
    font-size: 18px;
    color: #a6a6a6;
    font-family: 'TenorSans', sans-serif;
    font-weight: lighter;

    @media (min-width: $sizeLargeDesktop) {
        margin-right: 80px;
        text-decoration: none;
        text-align: center;
        font-size: 18px;
        color: #373737;
    }
}

.menu2 a:hover {
    color: #000;
    font-family: 'OpenSans', sans-serif;
}

.active1 {
    color: #000;
    font-weight: normal;
}

/* --------------------------
      Menu Principal Mobile
   --------------------------*/

.navbar-default .navbar-toggle {
    border-color: #f04942;
}

.navbar-toggle a:focus {
    background-color: #f04942;
}

.navbar-toggle {
    margin-top: -160px;
    margin-left: 10px;
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-bottom: 8px;
    background-color: #fff;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #f04942;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #fde7e6;

    /* #fac4c1;*/
    border-color: #fde7e6;
}

.navbar-margin-bottom {
    margin-bottom: 70px;
}

.row-of-blocks {
    margin: 30px;
}