/* --------------------------
        HISTORIA
   --------------------------*/


.historia {
    
    h1 {
        font-family: 'TenorSans',sans-serif;
        font-size: 30px;
        color: #212121;
        font-weight: bold;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 50px;
        letter-spacing: 1px;
        }
        
      p{
        font-family: 'Opensans',sans-serif;
        font-size: 15px;
        color: #333;
        margin-top: 10px;
        padding-bottom: 10px;
        text-align: justify;   
       }
    
    @media (max-width: $sizePhone){
       
       h1{
       font-size: 25px;
       padding-top: 30px;
       padding-bottom: 20px;
       }
       
       p{
       font-size: 16px;
       }
    }
    
    @media (min-width:$sizeMoreThanPhone){
       p{
       font-size: 16px;
       }  
    }
    
    @media (min-width:$sizeLessThanTablet) and (max-width:$sizeTablet){
       
       h1{
       font-size: 28px;
       padding-bottom: 25px;
       }
       
       p{
       font-size: 16px;
       }  
    }
    
     @media (min-width:$sizeMoreThanTablet) and (max-width:$sizeLargeDesktop){
       
        h1{
       font-size: 28px;
       padding-bottom: 30px;
       }  
    }
}