/*-------------------------------
          Involúcrate
 --------------------------------*/
 
 .involucrate{
    margin: 40px 20px; 
  
    
     h1{
        font-family: 'TenorSans',sans-serif;
        font-size: 30px;
        color: #212121;
        font-weight: bold;
        text-align: center;
        padding-left: 70px;
        padding-right: 50px;
       } 
   
     h2{
       font-family: 'TenorSans';
       font-size: 23px;
       color: #f04942;
       font-weight: lighter;
       line-height: 1.5;
       padding-left: 200px;
       padding-top: 10px;
       text-align: center;
       }
     
     .chino{
       font-weight: normal;
       padding-left: 380px;
       line-height: 2;
     }
     
     p {
      font-family: 'OpenSans-Regular';
      font-size:18px;
      color:#333;
      padding-left: 55px;
      padding-top: 30px;
      padding-bottom: 40px;
      padding-right: 53px;
     }
     
  /*   .color{
     color: #f04942;
     padding-left: 0px;   
     }
     */
       p a{
       color: #f04942;
       text-decoration: none;     
       }
   
       p a:hover,
       p a:focus{
       color: #c597e6;
       text-decoration: none; 
       }
     
  
  @media (max-width:$sizePhone){
     margin: 30px 15px 0px 15px;
     
     h1{
     padding-left: 0px;
     padding-right: 0px;
     margin-top: 0px;
     font-size: 20px;
     }
     
     h2{
     padding-left:1px;
     font-size: 16px;
     }
     
     .chino{
     font-size: 16px;
     padding-left:0px;
     }
     
     p{
     padding:10px 0px 20px 0px;
     font-size: 16px;
     text-align: justify;
     }
     
     p a{
       color: #f04942;
       text-decoration: none;    
       font-size: 16px;  
       }
   
       p a:hover,
       p a:focus{
       color: #c597e6;
       text-decoration: none; 
       }
  }
  
  @media (min-width:$sizeMoreThanPhone) and (max-width:$sizeLessThanTablet){
      margin: 40px 20px 0px 20px; 
      
      h1{
      margin-top:0px;
      padding:0px;
      font-size: 22px;
      }
      
      h2{
      font-size: 17px;
      padding-left:0px;
      }
      
      .chino{
      font-size: 17px;
      padding-left: 300px;
      }
      
      p{
      padding-right: 0px;
      padding-left: 10px;
      font-size: 17px;
      text-align: justify;
      }
  }
  
  @media (min-width:$sizeTablet){
    margin-top:25px;
    
    h1{
    font-size: 25px;
    }
    
    h2{
    padding-left: 0px;
    font-size: 20px;
    }
    
    .chino{
    font-size: 20px;
    padding-left: 330px;
    }
    
    p{
    font-size: 16px;
    padding:30px 10px;
    }
  }
     
  @media (min-width:$sizeDesktop) {
    
    h2{
    padding-left: 180px;
    font-size: 20px;
    }
    
    .chino{
    font-size: 20px;
    padding-left: 350px;
    }
    
    p{
    padding-right: 20px;
    padding-left: 20px;
    text-align: justify;
    }
   }
     
     
     
     .involucrate1{
        background-color: rgba(192,192,192,0.3);
        height: auto;
        width: 90%;
        margin-left: 55px;
     
       h1{
       font-family: 'OpenSans-Regular';
       font-size:18px;
       color:#333;
       line-height: 3.5;
       }
       
       h1 a{
       color: #9541c7;
       text-decoration: none;      
       }
   
       h1 a:hover,
       h1 a:focus{
       color:  #c597e6;
       text-decoration: none; 
       }
       
       h2{
       font-family: 'OpenSans-Regular';
       font-size:18px;
       color:#333;
       padding: 40px 25px 20px 25px;
       background-color: #fff;
       height: 200px;
       margin: 15px;
       }
       
       .color1{
       color: #f04942;
       padding-left:0px;
       }
  
  @media (max-width:$sizeSmallPhone){
     
     .color1{
     font-size: 12px;
     }
  }
  
  @media (max-width:$sizePhone){
      width: 100%;
      margin-left: 0px;
      
      h1{
      font-size: 16px;
       padding-top:15px;
       padding-bottom: 0px;
       padding-left:17px;
       padding-right:17px;
       line-height: 1.5;
      }
      
      h2{
      padding:15px 5px;
      margin: 15px 8px 10px 8px;
      font-size: 16px;
      height: auto;
      }
    }
  
  
 @media (min-width:$sizeMoreThanPhone) and (max-width:$sizeLessThanTablet){
      width: 100%;
      margin-left: 0px;
      
      h1{
      line-height: 2.5;
      font-size: 16px;
      padding:15px 30px 0px 30px;
      }
      
      h2{
      font-size: 16px;
      padding:20px 25px;
      height: auto;
      line-height: 2;
      }
      
 } 
  
  @media (min-width:$sizeTablet){
      width: 100%;
      margin-left: 0px;
      
      h1{
      font-size: 16px;
      line-height: 3;
      padding:0px 30px;
      }
      
      h2{
      font-size: 16px;
      height: auto;
      padding-top: 20px;
      }
  }
  
       
  @media (min-width:$sizeDesktop){
      width: 100%;
      margin-left: 0px; 
      
      h1{
      line-height: 3;
      padding-top: 20px;
      padding-left: 60px;
      }
      
      h2{
      height: auto;
      padding:30px 25px;
      line-height: 2;
      }
      
      .color1{
      font-size: 16px;
      }
    }                
  }
 }
 