/*-------------------------------
          Involúcrate
 --------------------------------*/
 
 .involucrate{
    margin: 50px 20px; 
    
     h1{
        font-family: 'TenorSans',sans-serif;
        font-size: 30px;
        color: #212121;
        font-weight: bold;
       } 
   
     h2{
       font-family: 'Lobster', cursive;
       font-size: 28px;
       color: #f04942;
       font-weight: bold;
       }
    
    
     h3{
       font-family: 'Lobster', cursive;
       font-size: 28px;
       color: #f04942;
       font-weight: bold;
       line-height: 1.5;
       }
     
     span{
       font-weight: bold;
     }
 }
 