/* ----------------------
       Noticias
   ----------------------*/
   
   .noticias{
   margin:40px 100px;
   
   
   .news20161{
   
      h1{
      margin-top: 80px;
      font-family: 'TenorSans',sans-serif;
      font-size: 30px;
      color: #212121;
      font-weight: bold;
      text-align: left;
     }
     
     h2{
     margin-top: 20px;
     font-family:'OpenSans-Regular', sans-serif;
     font-size: 22px;
     text-align: justify;
     color: #58585a;
     line-height: 1.4;
     }
     
     h3{
     margin-top: 15px;
     font-family:'OpenSans-Regular', sans-serif;
     text-align: left;
     font-size: 17px;
     font-style: italic;
     border-top: 1px dashed #231f1e;
     border-bottom: 1px dashed #231f1e;
     bottom: 15px;
     line-height: 2;
     color: #f04942;
     }
     
     .grey{
     color: grey;
    }
     
     @media (max-width:$sizePhone){
       h1{
       margin-top:25px;
       font-size: 20px; 
       } 
       
       h2{
       font-size: 17px;
       }
       
       h3{
       font-size:14px;
       }
     }
     
     @media (min-width:$sizeMoreThanPhone) and (max-width:$sizeLessThanTablet){
       
       h1{
       margin-top:30px;
       font-size: 25px; 
       }
       
       h2{
       font-size: 19px;
       }
       
       h3{
       font-size:16px;
       }
     }
     @media (min-width:$sizeTablet){
       
       h1{
       font-size: 24px;
       margin-top:40px;
       }
       
       h2{
       font-size: 17px;
       }
       
       h3{
       font-size:16px;
       }
     }
     
     @media (min-width:$sizeDesktop) and (max-width:$sizeLessThanLargeDesktop){
       
       h1{
       font-size: 25px;
       }
       
       h2{
       font-size: 18px;
       }
       
       h3{
       font-size: 16px;
       }
     }
  }
  
  p{
  line-height: 1.6;
  font-size: 16px;
  font-family:'OpenSans-Regular', sans-serif;
  text-align: justify;
  color:#333;
  }
  
  .figure-caption{
  text-align: center;
  color:#333;
  padding-top:5px;
  }
   
   @media (max-width:$sizePhone){
       margin:0px 15px; 
       
        .figure-caption{
        font-size: small;
        }
        
        .figure-caption{
        padding-bottom: 10px;
        }
   }
   
    @media (min-width:$sizeMoreThanPhone) and (max-width:$sizeLessThanTablet){
        margin:0px 25px; 
        
        .figure img{
        padding-left: 145px;
        }
        
        .figure-caption{
        padding-bottom: 10px;
        }
    }
     
   @media (min-width:$sizeTablet){
       margin:0px 50px;
   }
       
  @media (min-width:$sizeDesktop) and (max-width:$sizeLessThanLargeDesktop){
        margin:0px 70px;  
        
          
  }

}