
$sizePhone: 480px;
$sizeMoreThanPhone: 481px;
$sizeLessThanTablet: 767px;
$sizeTablet: 768px;
$sizeMoreThanTablet: 769px;
$sizeLessThanDesktop: 991px;
$sizeDesktop: 992px;
$sizeLessThanLargeDesktop:1199px;
$sizeLargeDesktop: 1200px;